<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
        Banana Fish!
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ng-href="#">Home</a></li>
        <li><a ng-href="#" ui-sref="bf.companies.search">Companies</a></li>
        <li><a ng-href="#" ui-sref="bf.games.search">Games</a></li>
        <li><a ng-href="#" ui-sref="bf.jobs.search">Jobs</a></li>
        <li><a ng-href="#" ui-sref="bf.tests.search">Unit Tests</a></li>
        <li><a ng-href="#" ui-sref="bf.about.us">About Us</a></li>
        <li><a ng-href="#" ui-sref="bf.elementalists.search">Elementalists</a></li>
          <li ui-sref="bf.search.results">
              <a ng-href="#">
                  <span class="glyphicon glyphicon-search"></span>
                  Search
              </a>
          </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>
      </ul>
    </div>
  </div>
</nav>
